@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.bg-blue {
    background-color: #004987;
}
section#about, section#portfolio, section#blog {
    background-color: #85D2F2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
}
section#portfolio {
    background-color: #004987;
    color: white;
}
.navbar-brand {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.title {
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.description {
    text-align: justify;
}
.image-portfolio {
    border-radius: 50%;
    border: 2px dashed black;
}
.image-text {
    position: absolute;
    top: 40%;
    left: 30%;
    text-shadow: 2px 2px black;
}
footer {
    text-align: right;
    padding: 20px;
}